body {
    width: 1024px;
    margin: auto;
}

.suggestion {
    width: 50%;
    float: left;
}
.imgcontainer {
    width: 200px;
    float: left;
    text-align: left;
    margin-right: 50px;
}

.imgcontainer img {
    width: 100%;
    height: auto;
}